.navbar-brand{
    font-family: 'Courgette', cursive;  
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}

.navbar-nav{
    font-family: 'Oswald', sans-serif;
}

#accueil{
    background: url("../img/header.jpg") no-repeat center /cover;
}

header{
    background:rgba(0,0,0,0.7);
}

h1,
.whitetitle{
    color: white;
    font-family: 'Courgette', cursive;
    font-weight: 900;
    font-style: italic;
}

.cuisine{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}


/* Derniers articles */

div .row h2{
    margin: auto;
    padding: 5%;
}

div .row{
    margin: 0;
}

#articles .row{
    margin-bottom: 8px;
}

#old-articles{
    color: black;
}

#old-articles :hover{
    color: grey;
}